@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Added "color" prefix so Tailwind recognizes it as a color utility */
  --color-brand: #ff6900;
  --color-background-back: #f7f6f3;

 --animate-slide-in-from-right: slideInFromRight 0.3s ease-out;
  --animate-slide-in-from-left: slideInFromLeft 0.3s ease-out;

  /* 2. Keyframes Definitions */
  @keyframes slideInFromRight {
    0% { 
      transform: translateX(40px); 
      opacity: 0; 
    }
    100% { 
      transform: translateX(0); 
      opacity: 1; 
    }
  }

  @keyframes slideInFromLeft {
    0% { 
      transform: translateX(-40px); 
      opacity: 0; 
    }
    100% { 
      transform: translateX(0); 
      opacity: 1; 
    }
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f6f3;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  /* color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}


::-webkit-scrollbar {
  display: none;
} 


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

